.myform{
  width: 38%;
  margin: 0 auto;
  margin-top: 1em;
}
form{
  padding-top: 0;
  padding-bottom: 1em;
}
h5{
	background-color: blue;
}
#center {
  margin: 0;
  position: absolute;
  left: 50%;
}
h5.card-header.info-color.white-text.text-center.py-4{
	background-color: #0074D9;
	font-color: #AAAAAA;
}
strong{
	color: #FFFFFF;
}
button#center {
	background-color: #0074D9;
  margin-bottom: 2em;
}
table.table-striped{
	padding-top: 1em;
}
label{
  margin-right: 2em;
}